<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="shapes.css">
</head>

<body>
    <div id="app" style="text-align: center;">
        <p><button v-if="button1.show" @click="click1">{{ button1.text }}</button></p>
        <p><button v-if="shapeArray[0].color == shapeArray[1].color && shapeArray[1].color == shapeArray[shapeArray.length-1].color" @click="click1">Also click me!</button></p>
        <p><button v-if="x == 1 && boundaries" @click="click2">Don't click me</button></p>
        <div v-if="x == 2" style="vertical-align: middle;">
            <button @click="shapeLeft">{{getShapeArrow(false)}}</button>
            <span class="shape" :class="shapeArray[0].class"></span>
            <button @click="shapeRight">{{getShapeArrow(true)}}</button>
        </div>
        <div v-if="x == 3">
            <button :id="n" v-for="n in numberArray.length" @click="numbersClick" v-bind:class="{green: numberArray[n-1]==0}" v-bind:disabled="isButtonDisabled">{{numberArray[n-1]}}</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
